.parallax {
  position: relative;
  background-image: url("assets/images/contact.jpeg");
  min-height: 700px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.header-font {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
}
