@mixin base-header {
  left: 0;
  right: 0;
}

.fixed-header {
  @include base-header;
  position: fixed;
  top: 0;
}

.absolute-header {
  @include base-header;
  top: 100vh;
}

.placeHolder {
  height: 56px;
  width: 100%;
}